:root {
    --shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, rgba(10, 10, 10, 0.1) 0px 1px 5px;
    --shadow-lifted: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, rgba(10, 10, 10, 0.2) 0px 1px 5px;
    --shadow-light: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px, rgba(255, 255, 255, 0.1) 0px 0px 5px;
    --shadow-light-hover: rgba(255, 255, 255, 0.3) 0px 0px 0px 1px, rgba(255, 255, 255, 0.1) 0px 0px 5px;
    --blue: #0178FF;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-weight: 500;
    margin: 0;
}

.content {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    background-color: white;
}

.text p,
blockquote {
    -webkit-margin-before: 0px;
    margin-block-start: 0px;
}

.headline-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

}

address {
    display: flex;
}

h1.headline,
h2.headline {
    display: flex;
    text-align: center;
    -webkit-margin-after: 0px;
    margin-block-end: 0px;
    font-size: 3em;
    line-height: 110%;
    font-weight: 800;
}

h1.headline {
    margin-top: 0;
}

h3 {
    text-align: center;
    font-weight: 800;
}

h3.chapter {
    margin-top: 0;
}

.pre-headline {
    margin-left: auto;
    margin-right: auto;
    margin: 10;
    flex-direction: column;
    color: #afafaf80;

    transition: 0.3s ease-out;

    cursor: pointer;
}

.pre-headline:hover {
    color: black;
    transition: 0.1s ease-out;
}

.author-pic {
    max-width: auto;
    max-height: auto;
}

.author-pic img {
    width: 120px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-right: 1px solid rgba(10, 10, 10, 0.2);

    display: flex;

    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}

.author-text {
    color: #afafaf;
    padding: 0 1em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;

}

.byline p {
    font-weight: 600;
    color: black;
    font-style: normal;
    font-size: 1.2em;
    -webkit-margin-before: 0.5em;
    margin-block-start: 0.5em;
    -webkit-margin-after: 0.5em;
    margin-block-end: 0.5em;
    line-height: 120%;

}

.byline-desc {
    max-width: 600px;
    line-height: 120%;
}

.byline-link {
    padding-top: 0.5em;
    padding-bottom: 0.8em;

    margin-top: auto;
}

.byline-link a {
    text-decoration: none;
    font-style: inherit;
    color: var(--blue);
    transition: 0.3s ease-out;
    margin-top: auto;


}

.byline-link a:hover {
    color: #afafaf;
    transition: 0.1s ease-out;

}

.byline-container {
    color: #999999;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;

    width: 600px;

    box-shadow: var(--shadow);
    transition: 0.3s ease-out;

    border-radius: 0.3em;

    cursor: pointer;

}

.byline-container:hover {
    transition: 0.1s ease-out;
    box-shadow: var(--shadow-lifted);
    transform: translate3d(0px, -1px, 0px);
}

time {
    box-shadow: var(--shadow);
    padding: 0.5em;
    background: hsla(0, 0%, 100%, .66);

    border-radius: 0.3em;

    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    align-content: center;

    line-height: 1.2em;

    text-align: center;


}

figure time {
    color: black;
}

.image-container .caption {
    position: absolute;
    width: 100%;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    text-shadow: 0px 1px 24px rgb(0, 0, 0, 1);
    line-height: 150%;

    cursor: pointer;
}

figure {
    font-weight: normal;
    width: 100%;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.inline-image {
    -webkit-margin-before: 1rem;
    margin-block-start: 1rem;
    -webkit-margin-after: 2rem;
    margin-block-end: 2rem;
}

.image-container img,
.inline-image img {
    width: 100%;
    border-radius: 0.3em;
    -o-object-fit: cover;
    object-fit: cover;

    box-shadow: var(--shadow);
}

iframe {
    border-radius: 0.3em;
    box-shadow: var(--shadow);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 150%;
    color: black;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-size: 1.5em;

    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

.text blockquote {
    margin-left: 2em;
    padding: 1em;
    border-radius: 0.3em;

    box-shadow: var(--shadow);

    transition: 0.3s ease-out;
}

.text blockquote:hover {
    transform: translate3d(0px, -1px, 0px);
    transition: 0.1s ease-out;
    box-shadow: var(--shadow-lifted);
}

.links {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 200%;
    margin: auto;
    margin-top: 2em;
    flex-wrap: wrap;
}

.links a,
.middle-links a {
    margin-right: 10px;
}

.middle-links {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 200%;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
}

.text a,
time a {
    padding-top: 0.0em;
    padding-bottom: 0.1em;
    display: inline;
    border-radius: 0.2em;
    text-decoration: none;
    color: var(--blue);
    transition: 0.3s ease-out;
}

.text a:hover,
time a:hover {
    background: none;
    opacity: 50%;
    transition: 0.1s ease-out;
}

span.footnote {
    vertical-align: top;
    font-size: 70%;
    padding-left: 0.1em;
    animation: refract 3s infinite;
}

.logo svg {
    display: block;
    margin: auto;
    width: 4em;
    height: 12em;
    padding-left: 5em;
    padding-right: 5em;
}

.logo svg:hover {
    transition: none;
    -webkit-animation: pulse-logo 1s infinite;
    animation: pulse-logo 1s infinite;
}

.middle-links a,
.links a {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    text-decoration: none;
    color: black;

    border-radius: 4px;

    padding: 0px 8px;
}

.middle-links a:hover,
.links a:hover {
    background-color: black;
    transition: background 170ms ease-in-out;
    color: white;
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;

}

.footer {
    height: 4em;
    display: flex;
    flex-flow: row wrap;
    max-width: 800px;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 2em;
    justify-content: center;
    line-height: 120%;
    height: 100%;

    padding-left: 1em;
    padding-right: 1em;
}

.footer-text {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    line-height: 120%;
    color: #afafaf;
    padding: 0.4em;
    border-radius: 0.3em;
    transition: 0.3s ease-out;
    background: inherit;
    height: 100%;
    margin: auto;

    margin-left: 0.2em;
    margin-right: 0.2em;
    max-width: 100%;
}

.footer-text a {
    text-decoration: none;
    color: inherit;
}

.footer-text:hover {
    background: #eeeeee;
    color: #222222;
    transition: 0.1s ease-out;
}

#sn-footer {
    font-style: italic;
}

#rating:hover {
    background: none;
}

#plausable:hover {
    background: rgb(104, 117, 245, 0.2);
    color: rgb(65, 82, 238);
}

::-moz-selection {
    color: #ff00ff;
    background-color: #ff00ff15;

}

::selection {
    color: #ff00ff;
    background-color: #ff00ff15;

}

@-webkit-keyframes pulse {
    0% {
        opacity: 0%;
    }

    30% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes pulse {
    0% {
        opacity: 0%;
    }

    30% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@-webkit-keyframes pulse-logo {
    0% {
        opacity: 100%;
    }

    70% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes pulse-logo {
    0% {
        opacity: 100%;
    }

    70% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@-webkit-keyframes refract {
    0% {
        color: #FFE66E;
    }

    10% {
        color: #79ACA4;
    }

    20% {
        color: #5C5BE9;
    }

    30% {
        color: #CCFF00;
    }

    40% {
        color: #FEBDB2;
    }

    50% {
        color: #55db86;
    }

    50% {
        color: #FEFF00;
    }

    50% {
        color: #8d5be9;
    }

    60% {
        color: #F1B242;
    }

    80% {
        color: #FAFFC3;
    }

    90% {
        color: #FF5F7E;
    }

    100% {
        color: #FFE66E;
    }
}

@keyframes refract-shadow {
    0% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #FFE66E 0px 1px 5px;
    }

    10% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #79ACA4 0px 1px 5px;
    }

    20% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #5C5BE9 0px 1px 5px;
    }

    30% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #CCFF00 0px 1px 5px;
    }

    40% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #FEBDB2 0px 1px 5px;
    }

    50% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #55db86 0px 1px 5px;
    }

    50% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #FEFF00 0px 1px 5px;
    }

    50% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #8d5be9 0px 1px 5px;
    }

    60% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #F1B242 0px 1px 5px;
    }

    80% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #FAFFC3 0px 1px 5px;
    }

    90% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #FF5F7E 0px 1px 5px;
    }

    100% {
        box-shadow: rgba(10, 10, 10, 0.1) 0px 0px 0px 1px, #FFE66E 0px 1px 5px;
    }
}


@keyframes refract {
    0% {
        color: #FFE66E;
    }

    10% {
        color: #79ACA4;
    }

    20% {
        color: #5C5BE9;
    }

    30% {
        color: #CCFF00;
    }

    40% {
        color: #FEBDB2;
    }

    50% {
        color: #55db86;
    }

    50% {
        color: #FEFF00;
    }

    50% {
        color: #8d5be9;
    }

    60% {
        color: #F1B242;
    }

    80% {
        color: #FAFFC3;
    }

    90% {
        color: #FF5F7E;
    }

    100% {
        color: #FFE66E;
    }
}

@-webkit-keyframes refract-bg {
    0% {
        background: #FFE66E;
    }

    10% {
        background: #79ACA4;
    }

    20% {
        background: #5C5BE9;
    }

    30% {
        background: #CCFF00;
    }

    40% {
        background: #FEBDB2;
    }

    50% {
        background: #55db86;
    }

    50% {
        background: #FEFF00;
    }

    50% {
        background: #8d5be9;
    }

    60% {
        background: #F1B242;
    }

    80% {
        background: #FAFFC3;
    }

    90% {
        background: #FF5F7E;
    }

    100% {
        background: #FFE66E;
    }
}

@keyframes refract-bg {
    0% {
        background: #FFE66E;
    }

    10% {
        background: #79ACA4;
    }

    20% {
        background: #5C5BE9;
    }

    30% {
        background: #CCFF00;
    }

    40% {
        background: #FEBDB2;
    }

    50% {
        background: #55db86;
    }

    50% {
        background: #FEFF00;
    }

    50% {
        background: #8d5be9;
    }

    60% {
        background: #F1B242;
    }

    80% {
        background: #FAFFC3;
    }

    90% {
        background: #FF5F7E;
    }

    100% {
        background: #FFE66E;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: black;

    }

    .content {
        background-color: black;
    }

    .author-pic img {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        ;
    }

    time {
        background: rgb(0, 0, 0);
        color: white;
        box-shadow: var(--shadow-light);
    }

    figure time {
        color: WHITE;
    }

    .text,
    .headline-block h1.headline {
        color: white;
    }

    .pre-headline:hover {
        color: white;
        transition: 0.1s ease-out;
    }

    a,
    .middle-links a,
    .links a {
        color: white;
    }

    .middle-links a:hover,
    .links a:hover {
        background-color: white;
        transition: background 170ms ease-in-out;
        color: black;

    }

    .byline-container {
        color: #afafaf;
    }

    .author-text p {
        color: white;
    }

    .byline-container {
        box-shadow: var(--shadow-light);
    }

    .byline-container:hover {
        box-shadow: var(--shadow-light-hover);
    }

    .author-text a:hover {
        color: white;
        transition: color 120ms linear;
    }

    .text blockquote {
        box-shadow: var(--shadow-light);
    }

    .text blockquote:hover {
        box-shadow: var(--shadow-light-hover);
    }

    .image-container img,
    .inline-image img {

        box-shadow: var(--shadow-light);
    }

    .footer-text:hover {
        background: #222222;
        color: #eeeeee;
    }
}

@media screen and (max-width: 840px) {

    .links {
        flex-wrap: wrap;
    }

    .middle-links {
        padding-top: 6vh;
    }

    h1.headline,
    h2.headline {
        font-size: 2em;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        line-height: 120%;
        margin-top: 1em;
    }

    h1.headline {
        margin-top: 0;
    }

    h2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .headline-block img {
        width: 100%;
    }

    .image-container .caption,
    .image-container .inline-image .caption {
        position: absolute;
        width: 90%;
        bottom: 3%;
        left: 50%;
        font-size: 0.6rem;
    }

    .author-pic img {
        border-right: none;
        border-bottom: 1px solid rgba(10, 10, 10, 0.2);
        border-radius: 0.3em 0.3em 0 0;
    }

    .headline-block,
    .text {
        padding-left: 1rem;
        padding-right: 1rem;
        -ms-hyphens: auto;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
    }

    .byline-container {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        justify-content: flex-start;
    }

    .author-text {
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;
        border-bottom-left-radius: 0;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        height: 100%;

        padding-top: 0.5em;
        padding-bottom: 0.5em;

    }

    .byline-link {
        margin-top: auto;
    }

    time {

        border-radius: 0.3em;
    }

    .text blockquote {
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
        border-radius: 0.3em;

    }

    .logo svg {
        height: 4em;
        padding-top: 6vh;
    }

    .middle-links a,
    .links a,
    .middle-links a:hover,
    .links a:hover {
        color: black;
        background-color: white;
        -webkit-animation: none;
        animation: none;
    }

    .middle-links a:hover,
    .links a:hover {
        color: white;
        background-color: black;
    }

    .footer {
        margin-top: 2em;
    }
}

@media screen and (max-width: 840px) and (prefers-color-scheme: dark) {

    .author-pic img {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        ;
    }

    .text,
    .headline-block h1 {
        color: white;
    }

    .middle-links a,
    .links a {
        color: white;
        background-color: black;
    }

    .middle-links a:hover,
    .links a:hover {
        background-color: white;
        transition: background 170ms ease-in-out;
        color: black;

    }

}